.dashboard-player {
     text-align: center;
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     flex-flow: column nowrap;
     padding: 20px 0 80px;
}
/* .dashboard-player:hover {
     background-color: #e7e7e735;
} */
.dashboard-player h2,
h3 {
     color: white;
}
