.dashboard-player {
     text-align: center;
     background-color: #e7e7e720;
     width: 50%;
     height: 100%;
     margin: 0 1px;
}
.dashboard-player h2, h3{
     color: white;
}
.dashboard-player img{
     width: 100px;
     height: 100px;
     opacity: 0.8;
     border-radius: 100%;
     margin: 20px 0;
}
.dashboard-player button{
     border: none;
     border-radius: 5px;
     padding: 10px 30px;
     background: linear-gradient(to top, #141e30, #243b55);
     color: white;
     font-size: 18px;
     cursor: pointer;
}